/deep/{
    .el-dialog__header{
        padding: 0;
    }
    .el-dialog{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
    .el-dialog__body{
        padding: 0;
    }

}
.qrCodeImg{
    width: 200px;
    height: 200px;
    position: relative;
    img{
        width: 100%;
    }
    i{
        position: absolute;
        right: -20px;
        top: -20px;
        font-size: 30px;
        color:#FFF;
        border-radius: 50%;
    }
}